<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body class="layout-{{ page.layout }}{% if page.wide %} page-wide{% endif %}">
    {% if page.lattice %}
      <canvas id="pendulum-canvas" aria-hidden="true"></canvas>
    {% endif %}

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {% if page.lattice %}
      <script src="{{ '/assets/js/nodebeam.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>
